button.btn-min{
	padding: 10px;
	margin: 15px 10px;
	border: none;

}

.add{
	background-color:  #555555;
	color: white;
}
.delete{
	background-color: #f44336;
	color: white;
}
.resposive{
	overflow-x: auto;
}
.color{
	background-color: #30a5ff;
}
.color h4, .color span{
	color: white;
}
.input-add{
	width: 90%;
	height: 30px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	outline-color: none;
	transition: .6s;
}
.input-add:focus{
	border: 1px solid #337ab7;
	background-color: #f2f2f2;
}
.form-group{
	margin: 15px;
}
.paneh-head-min{
	background-color: #595959;
}
.offset-atas{
	margin-top:20px;
}
.coll-on-mobile{
	padding-top: 30px;
}

.padding-offset{
	padding-left: 30px;
	padding-right: 20px;
}
.foto{
	margin: 10px auto;
	text-align: center;
}
.foto img{
	height: 200px;
	max-width: 200px;
	border-radius: 100%;
}

@media screen and (max-width: 480px) {
	.offset-atas{
	margin-top:40px;
	}
	.coll-on-mobile{
		padding-top: 50px;
		position: fixed;
		width: 100%;
		z-index: 999;
		border-bottom: 6px #30a5ff solid;
		transition: 1s;
	}
	.padding-offset{
	padding-left: 10px;
	padding-right: -1px;
	z-index: 1;
	}
	.foto img{
	height: 150px;
	max-width: 200px;
	}
	.btn-back{
		margin-top: 60px;
	}
}
#notif{
	position: absolute;
	z-index: 9999;
	top: 10px;
	right: 10px;
}
#notif1{
	position: absolute;
	z-index: 9999;
	top: 10px;
	right: 10px;
}
@media screen and (max-width: 480px){
	#notif{
	position: absolute;
	z-index: 9999;
	width: 95%;
	margin: 20px 0.5%;
	}
	#notif1{
	position: absolute;
	z-index: 9999;
	width: 95%;
	margin: 20px 0.5%;
}
}
.back-btn{
	background-color: #30a5ff;
	transition: 0.7s;
}
.back-btn a{
	color: white;
	text-decoration: none;
}
.back-btn:hover{
	background-color: #555555;
}

.rem{
	background-color: transparent;
	border: transparent;
	margin: 10px;
	
}
.rem span{
	color: white;
	background-color: red;
	border-radius: 100%;
	padding: 3px;
	margin: 10px;
}
.thum img{
	border-radius: 100%;
	display: inline-block;
	position: relative;
	height: 150px;
	margin: 10px;
	width: 150px;
}
.white, .white:hover{
	color: white;
}